### white style
/*

### track file or folder
# src
!/src/
!/src/*

# test
!/test/
!/test/*
/test/data/*
/test/ndpi/
/test/ndpi/*

# setting
!pyproject.toml
!.gitignore

# ignore __pycache__
__pycache__/
*.pyc
*.pyo
